/* Smartphone  */
@media only screen and (max-width: 500px) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;  
}
  
 
 


/* Tablet  */
@media (min-width: 501px) and (max-width: 768px) {


}

/* Desktop  */
@media (min-width: 769px) and (max-width: 1200px) {

} 

.header {
  display: flex; /* Använder Flexbox för att ordna innehållet */
  justify-content: center; /* Placera innehållet till vänster och höger */
  padding: 10px; /* Padding runt hela headern (kan justeras) */
font-size: 25px;

}

.navbar {
  display: flex; /* Använder Flexbox för att ordna innehållet */
  justify-content: flex-end; /* Placera hela menyn till höger */
  padding: 10px; /* Padding runt hela navigeringen (kan justeras) */

}

.navbar ul {
  list-style: none; /* Tar bort standardpunkter från listan */
  margin: 0; /* Tar bort default marginal */
  padding: 0; /* Tar bort padding från listan */
  display: flex; /* Använder flexbox för att ordna listobjekten i rad */
}

.navbar li {
  margin-left: 20px; /* Sätter 20px mellanrum mellan varje lista */
}

.navbar a {
  text-decoration: none; /* Tar bort understrykning från länkar */
  color: #333; /* Sätter färg på länkarna, kan ändras */
  font-size: 18px; /* Sätter textstorleken för länkarna */
  font-weight: bold; /* Gör texten fet om du vill */
}


.image-container {
  width: 100%; /* Bredden på div:en */
  height: 100%; /* Höjden på div:en */
  border: 2px solid #000; /* En valfri kant runt div:en */
}

.image-container img {
  width: 100%; /* Gör att bilden täcker hela div:en */
  height: 100%; /* Behåller bildens proportioner */
}
